.section {
  height: calc(100vh - 200px);
}

.questionGroup {
  height: calc(100vh - 320px);
}

questionGroup {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #b177a2;
  --sb-size: 10px;
}

questionGroup::-webkit-scrollbar {
  width: var(--sb-size);
}

questionGroup::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 4px;
}

questionGroup::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 4px;
}

@supports not selector(::-webkit-scrollbar) {
  questionGroup {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
